[Desktop Entry]
Name=Cosmic Accounts Ui
Comment=An account management application for the COSMIC desktop.
Type=Application
Icon=dev.edfloreshz.CosmicAccounts
Exec=cosmic-accounts-ui %F
Terminal=false
StartupNotify=true
Categories=COSMIC
Keywords=COSMIC
MimeType=
