[Desktop Entry]
Name=Accounts for COSMIC
Comment=An account management application for the COSMIC desktop.
Type=Application
Icon=dev.edfloreshz.Accounts
Exec=accounts-ui %F
Terminal=false
StartupNotify=true
Categories=COSMIC
Keywords=COSMIC
MimeType=
